@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face{
    font-family: NASA;
    src: url('nasadings-1wzj-webfont.woff') format("woff");
  }
  div{
    font-family:NASA;
  }

body {
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
     transition: background-color 1s ease;
	background: url('https://olmiave.github.io/vd_s2_tp2_Oliva_Olivera/imagenes/galaxy.gif') no-repeat;
    background-size: cover;
    font-family: 'Space Grotesk';
    padding: 10px;
    margin:2px;
}



.welcome {

    transition: opacity 3s ease;
	position: relative;
	text-align: center;
	height: 100vh;
}

h1 {
    font-family: 'Space Grotesk';
    color: white;
    font-size: 40px;
    font-style: bold;
    line-height: 50%;
    text-align: center;
    float: right;
}

img {
	max-width: 100%;
}

.start-button {
    
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	padding: 20px 40px;
	font-size: 1.5em;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 20px;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease;
    
}

.start-button:hover {
	background-color: #fff;
	color: #000;
}

